# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# backend.tf files
environments/*/backend.tf

# lock files
*.lock.hcl

# Crash log files
crash.log
crash.*.log

# Exclude sensitive files containing credentials
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include tfvars files that are safe to share
!example.tfvars

# CLI configuration files
.terraformrc
terraform.rc

# macOS system files
.DS_Store

# Editor specific files
.vscode/
.idea/

# Environment variables
.env

# Exclude old files while I'm moving things around
*.old
